@model List<TournamentModel>

@{
    ViewData["Title"] = "Index";
}


<h2>Tournaments</h2>
<a class="btn btn-primary mb-2" asp-action="Create">Add Tournament</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Name</td>
                <td>@t.Description</td>
                <td>@t.StartDate.ToShortDateString()</td>
                <td>@t.EndDate.ToShortDateString()</td>
                @* <td>@t.Status</td> *@
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Details" asp-route-id="@t.Id">Details</a>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@t.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@t.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>